* { box-sizing: border-box; }
body { font-size: 1.6rem; font-family: sans-serif; background: #F2F4F6; color: #ccc; }
section { height: 100%; width: 100%; }
section .center { text-align: center; }

h1 { font-weight: 100;}
p { font-weight: 600; letter-spacing: 0; color: #ccc; }
p.template-name { color: #9bce7d; font-size: 1.5em; letter-spacing: -2px; font-weight: bolder; margin-bottom: 0; }
p.template-json { color: #c8e0cb; font-size: 1em; letter-spacing: -2px; margin-top: 0; }
li { list-style: none; }

.logo {
	width: 50px;
	height: 30px;
	margin: 3% 0 0 0;
}

h2 {
  display: inline-block;
  color: #70c041;
}

.context {
  padding-bottom: 20%;
}

.match {
  opacity: 0;
}

.result {
  text-align: center;
}

#search {
  width: 550px;
  height: 70px;
  padding-left: 4%;
  font-size: 0.6em;
  font-weight: 100;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 5px 5px 1px #E6E6E6;
  color: #70c041;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e8e8e8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e8e8e8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e8e8e8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e8e8e8;
}

button {
  background-image: url('//cdn.isprototypeof.me/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-left: -60px;
}

input:active, input:focus {
  outline: none;
}

ul.pages {
  list-style:  none;
}

ul.pages h2 {
  display: block;
}

ul.pages li {
  display:  inline-block;
  margin: 5px 0;
}

ul.pages span {
  float:  none;
}

.divider {
  clear: both;
  color: #cccccc;
  margin-left: 40px;
  padding-top: 20px;
}

li.highlighted {
  /*color: cornflowerblue;*/
  background-color:  cornflowerblue;
  color: aliceblue;
  line-height: 1.5em;
  font-weight:  bold;
  padding: 5px 0 0 5px;
}

/*span.highlighted {
  color: #9bce7d;
}*/

ul.template-list {
  max-width: 960px;
  margin: auto;
  padding: 20px 35px;
  display:  flex;
  flex-direction: column;
  align-items: stretch;
}

ul.template-pages {
  margin: 0;
  padding: 0;
}

li.template-page {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

li.template-name {
  margin: 20px 0;
  color: #ccc;
}

h3.template-title {
  color: #b1b1b1;
  margin-bottom: 10px;
}

h3.template-title::before {
  content: "🎨 ";
  height: 20px;
  width: 20px;
}

p.template-id, p.template-stylesheet, p.template-category, p.template-pages {
  font-family: monospace;
  font-size: 0.7em;
  color: #b1b1b1;
  font-weight: 300;
  margin: 5px 0;
}

p.template-pages::before {
  content: "📚 Total pages: ";
  height: 20px;
  width: 20px;
}

p.template-id::before {
  content: "🔑 ";
  height: 20px;
  width: 20px;
}
p.template-stylesheet::before {
  content: "💅 ";
  height: 20px;
  width: 20px; 
}

p.template-category {
  color: cornflowerblue;
}

p.template-category::before {
  content: "🗄 ";
  height: 20px;
  width: 20px;  
}
span.page-id {
  font-size: 0.7em;
  font-family: monospace;
}

span.page-name {
  font-size: 0.7em;
}

span.page-name::before {
  font-size: 0.7em;
  margin-right:  10px;
  content: "📄";
  height: 10px;
  width: 10px;  
}

mark {
  background-color: #70c041;
  color: antiquewhite;
  padding: 5px;
}